.MainComp {
  margin-left: 11rem;
  background: #d7dfe7;
  padding: 1rem;
  width: 75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.main {
  width: 45rem;
  position: relative;
  left: 15rem;
  top: 2rem;
  border: 2px solid;
}
.invoicedetail {
  margin: 0rem;
  margin-top: 3rem;
  margin-left: 10rem;
}
.invoicedetailChild {
  margin-top: 1rem;
}
.CompanyInfo {
  margin-left: 10rem;
  display: flex;
}
.billingchild2 {
  margin-left: 4rem;
}
.BillingInfochild {
  margin: 1;
  position: relative;
  padding-top: 1rem;
}
input {
  margin-left: 10px;
  background: #c4d4e2;
  border: 2px solid #a2b3c2;
  border-radius: 4px;
}
div.EmployeeDetails {
  display: flex;
  margin-left: 5rem;
}
.SingleItemList {
  display: flex;
}
.SingleItemListchild {
  margin-left: 3rem;
}

input.previewbtn {
  width: 8rem;
  margin-top: 2rem;
  margin-left: 11rem;
  right: 30rem;
  cursor: pointer;
}

button.previewbtn {
  background: white;
  left: 11rem;
  top: 1rem;
  position: relative;
  height: 2rem;
  width: 4rem;
  border: white;
  cursor: pointer;
}
img.previewImg {
  height: 3rem;
  width: 3rem;
  position: relative;
  bottom: 0.7rem;
  cursor: pointer;
}
select {
  background: #afb9c2;
}

label {
  font-weight: bolder;
}

button.removebtn {
  border-radius: 5px;
  border: 2px solid #4c4ca7;
  position: relative;
}
div.child1 {
  text-align: center !important ;
  margin-left: 5rem;
}

div.child2 {
  text-align: center !important ;
  margin-left: 5rem;
}
.subchild1 {
  padding-top: 1rem;
}
.subchild2 {
  padding-top: 1rem;
}
select {
  width: 10.5rem;
  background: #afb9c2;
  margin-left: 0.5rem;
}

button.itemaddbtn {
  width: 4rem;
  border: 2px solid #6d8fac;
  border-radius: 5px;
  font-size: large;
  /* height: 1rem; */
  font-weight: 700;
  cursor: pointer;
}
button.itemaddbtn:hover {
  color: #fff !important ;
  background-color: #0d790d;
}

button.removebtn {
  border-radius: 5px;
  border: 2px solid #4c4ca7;
}
button.removebtn:hover {
  background: red;
}
button.printbtn {
  font-family: emoji;
  height: 2rem;
  width: 8rem;
  top: 3rem;
  position: relative;
  left: 34rem;
  margin-bottom: 4rem;
  cursor: pointer;
  border: 2px solid;
  border-radius: 8px;
  color: red;
  font-size: 22px;
}
button.printbtn:hover {
  background-color: red;
  color: white;
}
