h2.Invoicehead {
  font-family: emoji;
  margin: 1rem;
  text-transform: uppercase;
  font-size: xx-large;
  padding-top: 0rem;
  padding-bottom: 0rem;
  position: relative;
  top: 1rem;
  left: 3rem;
}
td {
  text-align: center;
}
.CompanyMainDetails {
  display: flex;
  justify-content: space-around;
}

.delivery {
  padding-left: 5rem;
}
.TableItem {
  text-align: initial;
  width: 4rem;
  position: absolute;
}
table {
  width: 40rem;
}
.total {
  position: relative;
  left: 29rem;
}
hr.hr1 {
  display: inline-block;
  position: relative;
  width: 6rem;
  left: 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

span.totalchild {
  font-weight: 700;
  position: relative;
  right: 6rem;
  font-family: emoji;
}

.Actualvalue {
  text-align: center;
  position: relative;
  bottom: 2rem;
}

span.EmpDetails {
  text-align: center;
  float: right;
  position: relative;
  right: 25rem;
}

.MyPayslip {
  display: flex;
}

.MainHead {
  display: flex;
  justify-content: space-around;
}

span.EarnHeading1 {
  position: relative;
  right: 4rem;
  font-family: emoji;
  font-size: 22px;
}
span.EarnHeading2 {
  position: relative;
  left: 4rem;
  font-family: emoji;
  font-size: 22px;
}

.MyPayslip {
  padding-top: 1rem;
  margin-bottom: 20px;
  display: flex;
  margin-top: 6px;
  padding-bottom: 1rem;
}

.mytable {
  margin-left: 1rem;
}

h2.Heading {
  margin-left: 1rem;
}

.totalEarn {
  text-align: center;
  border: 2px solid;
  width: 16.5rem;
  float: right;
  position: relative;
  right: 4rem;
  border-radius: 6px;
  top: 2px;
}

.employeeDetails {
  display: flex;
  justify-content: space-around;
}

h3.EMPLOYEE {
  position: relative;
  left: 4rem;
}

footer {
  margin-bottom: 0rem;
  /* text-align: center; */
  position: relative;
  left: 18rem;
  margin-top: 7rem;
}

.TotalPay {
  left: 8rem;
  display: flex;
  border: 2px solid;
  position: relative;
  top: 3rem;
  padding-left: 2rem;
}
.secondchild {
  font-size: x-large;
  position: relative;
  left: 4rem;
}
footer {
  font-size: x-large;
  margin-bottom: 0rem;
  /* text-align: center; */
  position: relative;
  left: 21rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.head {
  color: blue;
}
table {
  border: 2px solid;
  border-radius: 4px;
}
